<!DOCTYPE html>
<html>
<head>
    <title><%= flashTitle %></title>
    <link rel="shortcut icon" href="../graphics/favicon.ico" />
</head>
<body>
    <p><%= flashMessage %></p>
    <form action="/main" method="get">
        <input type="submit" name="goBackButton" value="Go Back" />
    </form>
</body>
</html>
