<!DOCTYPE html>
<html>
<head>
    <title>Material Request</title>
    <link rel="stylesheet" type="text/css" href="/css/requestMaterials.css" />
    <link rel="shortcut icon" href="../graphics/favicon.ico" />
</head>
<body>
    <div class="contentWrapper">
        <div class="content">

            <div class="requestForm">
                <img class="bioRadLogo" src="/graphics/biorad_logo.gif" />
                <h1>Material Request</h1>
                <form action="/main/requestMaterials" method="post" autocomplete="off">

                    <div class="numberInputs">
                        <input type="text" name="matId" placeholder="Material Number" autofocus required />
                        <p></p>
                        
                        <input type="text" name="quantity" placeholder="Quantity" required />
                        <p></p>
                        
                        <input type="text" name="uom" placeholder="Uom" required />
                        <p></p>
                        
                        <input type="text" name="batchNum" placeholder="Batch Number" required />
                        <p></p>
                    </div>

                    <input type="text" name="source" placeholder="Source Location" required />
                    <p></p>
                    
                    <input type="text" name="destination" placeholder="Destination Location" required />
                    <p></p>
                    
                    <input type="text" name="transNum" placeholder="Transaction Number" required />
                    <p></p>
                    
                    <input type="checkbox" name="thawReq" value="1" /><label>Thaw Required</label>
                    <p></p>
                    
                    <input type="date" name="refreezeDate" required />
                    <p></p>
                    
                    <input type="date" name="dateReq" required />
                    <p></p>
                    
                    <input type="text" name="description" placeholder="Enter Description" />
                    <p></p>
                    
                    <input type="text" name="comment" placeholder="Enter Comment" /><br />
                    <p></p>
                    
                    <input type="submit" name="requestMaterialsBtn" value="Request Materials" />

                </form>
            </div>
        </div>
    </div>

    <a class="logoutLink" href="http://localhost:8080/logout">Logout</a>

</body>
</html>