<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/404.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <title>404</title>
</head>
<body>

    <div class="contentWrapper">

        <div class="contentBackground">
            <div class="content">
                <h3>We've come up empty on that one.</h3>
                <p>The requested page could not be found. If you entered a page address, please check the spelling and try again, otherwise please use the main button to navigate to the main screen.</p>
            </div>

            <form action="/main" method="get">
                <input type="submit" name="goBackButton" value="Main" />
            </form>

        </div>
    </div>

</body>
</html>