<!DOCTYPE html>
<html>
<head>
    <title>User Creation</title>
    <link rel="stylesheet" type="text/css" href="/css/addNewUser.css" />
    <link rel="shortcut icon" href="/graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/addNewUser.js"></script>
</head>
<body>
    <div class="contentWrapper">
        <div class="content">

            <div class="createForm">
                <img class="rhcLogo" src="/graphics/rhc_logo_color.png" width="25%" height="25%"/>
                <h1>User Creation</h1>
                <form class="newUserForm" action="/main/admin/addNewUser" method="post" autocomplete="off">
                    <input type="text" name="emp_id" placeholder="Enter Employee Id#" autofocus required />
                    <p></p>
                    
                    <input type="text" name="username" placeholder="Enter Username" required />
                    <p></p>

                    <input type="text" name="fname" placeholder="Enter Individuals First Name" required />
                    <p></p>

                    <input type="text" name="lname" placeholder="Enter Individuals Last Name" required />
                    <p></p>
                    
                    <input type="email" name="email" placeholder="Enter Email" />
                    <p></p>

                    <input class="pass" type="password" id="pass" name="password" placeholder="Enter Password" required />
                    <p></p>
                    <input class="pass" type="password" id="passConfirm" name="passConfirm" placeholder="Re-enter Password" required />
                    <p></p>
                    <p style="display:none" class="capsOn">Caps Lock is on.</p>
                    <p style="display:none" class="passMismatch">Passwords do not match</p>

                    <label>Access Permisions</label>
                    <select name="accessToken" required>
                        <option value="" disabled selected="selected">Select one--</option>
                        <option value="1">Administrator Privileges</option>
                        <option value="2">Manager Privileges</option>
                        <option value="3">Accountant Privileges</option>
                    </select>
                    <p></p>

                    <input class="submit" type="submit" name="loginBtn" value="Create User"/>
                </form>
            </div>
        </div>
    </div>

    <a class="logoutLink" href="http://localhost:8080/logout">Logout</a>

</body>
</html>
