<!DOCTYPE html>
<html>
<head>
    <title>Pending Material Requests</title>
    <link rel="stylesheet" type="text/css" href="/css/alterRequests.css" />
    <link rel="stylesheet" type="text/css" href="/css/logout.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/public/scripts/alterRequests.js"></script>
</head>
<body>

    <h2>Alter Material Requests</h2><br />

    <div class="pendingRequestsTable" style="overflow-x:auto;">

        <% if(result.length == 0) { %>
        <table>
            <tr>No pending requests found.</tr>
        </table>

        <% } else { %>
        <div class="tableContainer">
            <div class="sidePanelWrapper">
                <table class="fixedHeader" cellpadding="0" cellspacing="1">

                    <thead>
                        <tr>
                            <th>Material Number</th>
                            <th>Description</th>
                            <th>Comment</th>
                            <th>Quantity Required</th>
                            <th>Uom</th>
                            <th>Batch Number</th>
                            <th>Quantity Issued</th>
                            <th>Source Location</th>
                            <th>Destination Location</th>
                            <th>Transaction #</th>
                            <th>Thaw Required</th>
                            <th>Refreeze Date</th>
                            <th>Requester</th>
                            <th>Requested Time</th>
                            <th>Date Required</th>
                            <th>Approving Manager</th>
                            <th>Manager Approved Time</th>
                            <th>Approving Planner</th>
                            <th>Planning Approved Time</th>
                            <th>Material Issuer</th>
                            <th>Material Issued Time</th>
                            <th>Request Altered By</th>
                            <th>Request Altered Time</th>
                            <th>Update/Delete</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% for(var i = 0; i < result.length; i++) { %>
                        <tr>
                            <% var editable = true; %>

                            <% for (var property in result[i]) { %>
                            <% if(property == 'requester') { %>
                            <% editable = false; %>
                            <% } %>

                            <% if(editable) { %>

                            <td><input class="textInput" type="text" name="<%= property %>" value="<%= result[i][property]; %>" /></td>
                            <% } else { %>

                            <td name="<% property %>"><%=result[i][property];%></td>
                            <% } %>
                            <% } %>

                            <td class="editRow">
                                <input class="submitBtn" type="submit" value="Update" onclick="alterRequest(this.form)"/><br />
                                <input class="deleteChkbox" type="checkbox" name="delete" value="1" /><label>Delete</label>
                            </td>
                        </tr>
                        <% } %>

                    </tbody>

                </table>
            </div>
        </div>
        <% } %>

    </div>

    <a class="logoutLink" href="http://localhost:8080/logout">Logout</a>

</body>
</html>
