<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
</head>
<body>

    <h1>Welcome <%= name%></h1>

    <h2>Material Request Main Page</h2><br />

    <div class="mainButtons">

        <% if(accessToken == 5 || (accessToken < 3 && accessToken >= 0)) { %>
        <form action="/main/requestMaterials" method="get">
            <input type="submit" name="requestMaterials" value="Request Materials" />
        </form>

        <form action="/main/alterRequests" method="get">
            <input type="submit" name="alterRequest" value="Alter Material Request" />
        </form>
        <% } %>

        <% if(accessToken == 5 || (accessToken < 2 && accessToken >= 0)) { %>
        <form action="/main/viewPendingRequests" method="get">
            <input type="submit" name="viewPendingRequests" value="View Pending Requests" />
        </form>
        <% } %>

        <% if(accessToken < 5 && accessToken >= 0) { %>
        <form action="/main/reviewPendingRequests" method="get">
            <input type="submit" name="reviewPendingRequests" value="Review Pending Requests" />
        </form>

        <form action="/main/recentRequests" method="get">
            <input type="submit" name="recentRequests" value="View Recent Requests" />
        </form>

        <form action="/main/searchRequests" method="get">
            <input type="submit" name="searchRequests" value="Search Requests" />
        </form>
        <% } %>

        <% if(accessToken < 2 && accessToken >= 0) { %>
        <form action="/main/admin/addNewUser" method="get">
            <input type="submit" name="createUser" value="Add New User" />
        </form>
        <% } %>

        <br />

    </div>

    <a class="logoutLink" href="http://localhost:8080/logout">Logout</a>

</body>
</html>