<!DOCTYPE html>
<html>
<head>
    <title>Materials Request Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/resetPassword.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/resetPassword.js"></script>
</head>
 <body>
     <div class="contentWrapper">
         <div class="content">

             <h1>Reset Password</h1>
             
             <div class="loginForm">
             
                 <form class="resetPassForm" action="/resetPassword" method="post" autocomplete="off">
                    <% if (failed == true) { %>
                    <h1 class="noReuse">PASSWORD CANNOT BE REUSED</h1> 
                    <% } %>
                    <h2>Enter Password</h2>
                     <input class="passwordInput" type="password" id="pass" name="pass" placeholder="Password" autofocus required />
                     <input class="passwordInput" type="password" id="passConfirm" name="passConfirm" placeholder="Confirm Password" required />
                     <p style="display:none" class="capsOn">Caps Lock is on.</p> <br/>
                     <input type="submit" id="resetBtn" name="resetBtn" value="Reset Password" />
                     <br />
                 </form>

             </div>
         </div>
     </div>
     <br/>
     <div class="glyphs">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div id="Length" class="glyphicon glyphicon-remove">Must be at least 8 charcters</div>
        <div id="UpperCase" class="glyphicon glyphicon-remove">Must have at least 1 upper case character</div>
        <div id="LowerCase" class="glyphicon glyphicon-remove">Must have at least 1 lower case character</div>
        <div id="Numbers" class="glyphicon glyphicon-remove">Must have at least 1 numeric character</div>
        <div id="Symbols" class="glyphicon glyphicon-remove">Must have at least 1 special character from !@#$%^&*</div>
        <div id="Match" class="glyphicon glyphicon-remove">Passwords must match</div>
     </div>
</body>
</html>
