<!DOCTYPE html>
<html>
<head>
    <title>Materials Request Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/addNewUser.js"></script>
</head>
 <body>
     <div class="contentWrapper">
         <div class="content">

             <h1>Reset Password</h1>
             
             <div class="loginForm">
             
                 <form action="/resetPassword" method="post" autocomplete="off">
                    <% if (failed == true) { %>
                    <h1 class="noReuse">PASSWORD CANNOT BE REUSED</h1> 
                    <% } %>
                    <h2>Enter Password</h2>
                     <input class="passwordInput" type="password" id="pass" name="pass" placeholder="Password" autofocus required />
                     <input class="passwordInput" type="password" id="passConfirm" name="passConfirm" placeholder="Confirm Password" required />
                     <p style="display:none" class="capsOn">Caps Lock is on.</p> <br/>
                     <p style="display:none" class="passMismatch">Passwords do not match.</p>
                     <input type="submit" id="resetBtn" name="resetBtn" value="Reset Password" />
                     <br />
                 </form>

             </div>
         </div>
     </div>
</body>
</html>
