<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Search Material Requests</title>
    <link rel="stylesheet" type="text/css" href="/css/basicResultsTable.css" />
    <link rel="stylesheet" type="text/css" href="/css/logout.css" />
    <link rel="stylesheet" type="text/css" href="/css/search.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="/scripts/search.js"></script>
    <script src="/scripts/logout.js"></script>
</head>

<body>
    <h2>Search all requests</h2>
    <p class="noResults" style="display:none">Nothing was found with those parameters. Please try again</p>

    <div class="sidePanelWrapper">

        <div class="searchUi">

            <div class="searchWrapper">
                <input class="searchField" type="search" placeholder="Search requests" name="search" />
            </div>

            <div class="info">?</div>
            <span class="tooltip" style="display:none">Search by Material #, Requester Name, Manager Name, Transaction Number, or Location</span>

        </div>

        <div class="resultsTable">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Material #</th>
                        <th>Description</th>
                        <th>Comment</th>
                        <th>Quantity Required</th>
                        <th>Uom</th>
                        <th>Batch Number</th>
                        <th>Quantity Issued</th>
                        <th>Source Location</th>
                        <th>Destination Location</th>
                        <th>Transaction #</th>
                        <th>Thaw Required</th>
                        <th>Refreeze Date</th>
                        <th>Requester</th>
                        <th>Requested Time</th>
                        <th>Date Required</th>
                        <th>Approving Manager</th>
                        <th>Manager Approved Time</th>
                        <th>Approving Planner</th>
                        <th>Planning Approved Time</th>
                        <th>Material Issuer</th>
                        <th>Material Issued Time</th>
                        <th>Request Altered By</th>
                        <th>Request Altered Time</th>
                    </tr>
                </thead>

                <tbody hidden="hidden" class="resultsBody"></tbody>
            </table>
        </div>
    </div>

    <a class="logoutLink" href="http://localhost:8080/logout">Logout</a>

</body>
</html>