<!DOCTYPE html>
<html>
<head>
    <title>Pending Material Requests</title>
    <link rel="stylesheet" type="text/css" href="/css/basicResultsTable.css" />
    <link rel="stylesheet" type="text/css" href="/css/logout.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <h2><%= type %> Material Requests</h2><br />

    <div class="viewRequestsTable" style="overflow-x:auto;">

        <% if(result.length == 0) { %>
        <table>
            <tr>No pending requests found.</tr>
        </table>

        <% } else { %>
        <div class="tableContainer">
            <div class="sidePanelWrapper">
                <table class="fixedHeader" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Material #</th>
                            <th>Description</th>
                            <th>Comment</th>
                            <th>Quantity Required</th>
                            <th>Uom</th>
                            <th>Batch Number</th>
                            <th>Quantity Issued</th>
                            <th>Source Location</th>
                            <th>Destination Location</th>
                            <th>Transaction #</th>
                            <th>Thaw Required</th>
                            <th>Refreeze Date</th>
                            <th>Requester</th>
                            <th>Requested Time</th>
                            <th>Date Required</th>
                            <th>Approving Manager</th>
                            <th>Manager Approved Time</th>
                            <th>Approving Planner</th>
                            <th>Planning Approved Time</th>
                            <th>Material Issuer</th>
                            <th>Material Issued Time</th>
                            <th>Request Altered By</th>
                            <th>Request Altered Time</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(var i = 0; i < result.length; i++) { %>
                        <tr>
                            <% for (var property in result[i]) { %>
                            <td><%= result[i][property]; %></td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>

                </table>
            </div>
        </div>
        <% } %>

    </div>

    <a href="logout">Logout</a>

</body>
</html>
