
/**************************************************************************************************
* This css file handles the general table styling for pages that does not have any special needs. *
* These files include:  
*   search.ejs                                                                                    *
*   viewRequests.ejs                                                                             *
**************************************************************************************************/

h2 {
    text-align: center;
}

.fixedHeader {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border: solid black 3px;
    border-radius: 15px;
    white-space: nowrap;    
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    border-top: none;
}

th:first-child {
    border-left: none;
    border-top: none;
}

th:last-child {
    border-right: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-bottom: none;
    border-right: none;
}

.fixedHeader thead {
    display: table-header-group;
    position: relative;
}

tbody td {
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}

input {
    font: 400 13.3333px Arial;
    border: none;
    margin: 0;
    padding: 0;
}