
/**************************************************************************************************
* This css file handles the general table styling for pages that does not have any special needs. *
* These files include:  
*   search.ejs                                                                                    *
*   viewRequests.ejs                                                                             *
**************************************************************************************************/

h2 {
    text-align: center;
}

.fixedHeader {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

.fixedHeader thead {
    display: table-header-group;
    position: relative;
}

tbody td {
    width: 1%;
    text-wrap: none;
    border: 1px solid black;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: rgb(223, 193, 193);
}

.textInput {
    width: 50px;
}

input {
    font: 400 13.3333px Arial;
}
