body {
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px;
    background: url(../graphics/Background.jpg) repeat-x #b8b6b7;
    font-family: Arial, sans-serif;
}

.contentWrapper {
    color: #000;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 5px #333, 0px 0px 0px #000, 0px 0px 5px #333, 0px 0px 0px #000;
    box-shadow: 0px 0px 5px #333, 0px 0px 0px #000, 0px 0px 5px #333, 0px 0px 0px #000;
    border: 1px solid black;
    background-color: white;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(-0.0, #C6C6C6), color-stop(0.8, #E1E1E1), color-stop(1.0, #F8F8F8));
    z-index: 1;
    display: table;
    position: relative;
    padding: 15px;
}

.content {
    width: 500px;
    border-radius: 30px;
    background: white;
}

h1{
    margin: 0;
    padding: 5px 0 5px;
    text-align: center;
    font-size: 18px;
}

h2{
    font-size: 18px;
}

.rhcLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginForm{
    width: 300px;
    margin: 0px auto;
}

::-webkit-input-placeholder {
    text-indent: 10px;
    font-style: italic;
}

.loginForm input {
    width: 105%;
    margin-bottom: 20px;
    cursor: text;
    text-indent: 10px;
}

.loginForm input[type="text"], input[type="password"]{
    border: 1px solid #8f8f8f;
    background: transparent;
    outline: none;
    height: 30px;
    color: #333;
    font: 400, 13.3333px, Arial;
    font-weight: 400;
    line-height: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.loginForm input[type="text"]:focus, input[type="password"]:focus{
    box-shadow: 0 0 6px rgba(81, 203, 238, 1);
}

.capsOn{
  float: left;
  margin: 0 3px 0 0;
  padding: 0;
  color: red;
}

.passMismatch{
    float: left;
    margin: 0 3px 0 0;
    padding: 0;
    color: red;
}

.loginForm input[type="submit"]{
    background: linear-gradient(to bottom,rgba(28,169,28,1) 0,rgba(5,95,5,1) 100%);
    color: #fff;
    padding: 5px 10px;
    width: 70px;
    margin-top: 20px;
    text-indent: 0px;
}

.loginForm input[type="submit"]:hover{
    cursor: default;

}

.loginForm a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #f60;
    font-weight: normal;
    float: right;
    margin-bottom: 15px;
    margin-right: -15px;
}

.loginForm a:hover{
    color: #ffc107;
}

#resetBtn{
    margin-top: 10px;
    width: 150px;
}

.noReuse{
    color: red;
}