body {
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px;
    background: url(../graphics/bioRadBackground.jpg) repeat-x #b8b6b7;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #f60;
    font-weight: normal;
}

input[type="submit"] {
    background: linear-gradient(to bottom,rgb(243, 3, 3) 0,rgb(15, 15, 15) 100%);
    padding: 10px;
    color: #fff;
}